* {
	font-family: 'Courier';
	line-height: 1.7;
	margin: 0;
	padding: 0;
}

img{
	float:right;
	position: relative;
	top: -80px;
	right: 20px;
	height: 150px;
	width: 150px;


}

header h1 {
	font-size: 45px;
}

header p {
	display: inline;
}

ul 
{
	margin-left: 40px;
}

#abilities, #activities, #schooling, #medal, header, form
{
	margin-left: 60px;
	margin-top: 20px;
	margin-bottom: 10px;
	color: #808080;
 
}
 
 main{
 	width: 1500px;
 	margin-right: auto;
 	margin-left: auto;
 	background-color: #eee;
 }

 form{
 	max-width: 600px;
 	width:100%;
 }

 input, textarea, button {
 	width: 80%;
 	margin-top: 10px;
 	margin-bottom: 10px;
 	padding:10px;
    border-radius: 3px;
    border:1px solid ;
    border-color: #808080;
    color:#808080;
 }


.alert{color: red;}

